<br  />
<br  />
<h1>Listing integrantes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Instrumento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @integrantes.each do |integrante| %>
      <tr>
        <td><%= integrante.nombre %></td>
        <td><%= integrante.email %></td>
        <td><%= integrante.instrumento %></td>
        <td><%= link_to 'Show', integrante %></td>
        <td><%= link_to 'Edit', edit_integrante_path(integrante) %></td>
        <td><%= link_to 'Destroy', integrante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Integrante', new_integrante_path %>
