<%= form_for(@usuario) do |f| %>
    
   
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, params[:nombre] %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div class="actions"><%= f.submit "Log in" %></div>
<% end %>