<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Bootstrap core CSS -->
    <link src="/app/assets/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link src="assets/stylesheets/main.css" rel="stylesheet">
    <link rel="stylesheet" src="assets/stylesheets/icomoon.css">
    <link src="assets/stylesheets/animate-custom.css" rel="stylesheet">


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script href="assets/javascripts/js/jquery.min.js"></script>
	<script type="text/javascript" href="assets/javascripts/js/modernizr.custom.js"></script>
  
</head>
<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" ><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Inicio', root_path %></li>
            <li><%= link_to 'Servicio', servicio_path %></li>
            <li><%= link_to 'Integrantes', integrantes_path %></li>
			      <li><%= link_to 'Posts', posts_path %></li>
            <li><%= link_to 'Contrataciones', root_path %></li></ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
    
    
    
    

<%= yield %>
    
    
    <br   />
    <br   />
    <br   />
    <br   />
<div id="footerwrap">
			<div class="container">
				<h4>Created by <a href="">QuintaEsenciacompany</a> - Copyright 2014</h4>
      </div>
</div>
    
<script type="text/javascript" href="/app/assets/javascripts/js/bootstrap.min.js"></script>
<script type="text/javascript" href="/app/assets/javascripts/js/retina.js"></script>
<script type="text/javascript" href="/app/assets/javascripts/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" href="/app/assets/javascripts/js/smoothscroll.js"></script>
<script type="text/javascript" href="/app/assets/javascripts/js/jquery-func.js"></script>
  
</body>
</html>
